body {
    background-color: #99ccff
}

#articleContainer {
    width: 60%;
    background-color: white;
    float: left;
}

#notes {
    width: 35%;
    float: right;
    background-color: lightgray;
}